body{
    background-color: #cccc33;
    padding: 45px;
    
}
h1{
    background-position: center;
    color: green;
    font-size: 50px;
    font-style: oblique;
}
h2{
    color: #333;
    font-style: italic;
    font-size: 20px;
}
h3{
    color: #333;
}
p{
    color: black;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}